#outraParoquia{
  display: none;
}
#contraindicacao, .contraindicacao{
  display: none;
}
#tempoFrequentaIgreja, .tempoFrequentaIgreja{
  display: none;
}
.servicoParoquia, #inputServicoParoquia{
  display: none;
}
#outrasDoencas, #perguntaOutrasDoencas{
  display: none;
}

#qtdDoses, #dosesCovid{
  display: none;
}

#medContDoses,#inputMedCont{
  display: none;
}

#alergiaAQue, #inputAlergia{
  display: none;
}
#perguntaCardiaco, #inputCardiaco{
  display: none;
}

#perguntaCalendario, #inputCalendario{
  display: none;
}

#perguntaDefFisica, #inputDefFisica{
  display: none;
}

#perguntaOutrosRecursos, #inputOutrosRecursos{
  display: none;
}

#perguntaFumante, #inputFumante{
  display: none;
}

#inputCirurgia, #perguntaCirurgia{
  display: none;
}

*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Manjari', sans-serif;
}

#tituloFormulario{
margin-top: 50px;
text-align: center;
font-size: 40px;
color: rgb(0, 211, 24);
}
label{
  color: #273541;
}
#nameComplete{
 width: 60%;
}