#outraParoquia{
  display: none;
}
#contraindicacao, .contraindicacao{
  display: none;
}
#tempoFrequentaIgreja, .tempoFrequentaIgreja{
  display: none;
}
.servicoParoquia, #inputServicoParoquia{
  display: none;
}
#outrasDoencas, #perguntaOutrasDoencas{
  display: none;
}

#qtdDoses, #dosesCovid{
  display: none;
}

#medContDoses,#inputMedCont{
  display: none;
}

#alergiaAQue, #inputAlergia{
  display: none;
}
#perguntaCardiaco, #inputCardiaco{
  display: none;
}

#perguntaCalendario, #inputCalendario{
  display: none;
}