#outraParoquia{
  display: none;
}
#contraindicacao, .contraindicacao{
  display: none;
}
#tempoFrequentaIgreja, .tempoFrequentaIgreja{
  display: none;
}
.servicoParoquia, #inputServicoParoquia{
  display: none;
}
#outrasDoencas, #perguntaOutrasDoencas{
  display: none;
}