@media only screen and (max-width: 500px){

    header{
        height: 55px;
        width: 100%;
    }
    .left_side_menu img {
        height: 101px;
        position: relative;
        top: 30px;
        left: 2px;
    }
    .right_side_menu{
        display: none;
    }
    
}