#schedule{
  margin-top: 50px;
}
.title-section {
  color: #15549b;
  font-family: 'Manjari', sans-serif;
  font-size: 35px;
  font-weight:bold;
}

.line-title-section{
  background-color: #228b22;
  width: 80px;
  height: 5px;
  border-radius: 2px;
}
.card{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  margin-top: 50px;
  width: 100%;
  height: 220px;
  border-radius: 8px;
  box-shadow: 0 2px 9px #0000002b, 0 1px 2px #0000001f; 
}
.card-left{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-left img{
  width: 300px;
  height: 90%;
  border-radius: 10px;
}
.card-right{
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
}
.date-event{
  width: 30%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.date-event span{
  font-size: 1rem;
  font-family: 'Manjari', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 5px;
}
@font-face {
  font-family: SF Pro Display Bold;
  src: local(SF Pro Display Bold), url(../fonts/SFPRODISPLAYBOLD.OTF)
}
.circle{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  color: #15549b;
  font-family: 'SF Pro Display Bold';
  font-size: 4rem;
  background-color: #91d2d8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-event{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}
.info-event img{
  width: 30px;
}
.title-event{
  font-family: 'Manjari', sans-serif;
  font-size: 2rem;
  color: #333;
  margin-bottom: 15px;
}
.time-event,
.church-event{
  margin-bottom: 15px;
}
.time-event,
.church-event,
.localization-event{
  display: flex;
  align-items: center;
}
.time-event span,
.church-event span,
.localization-event span{
  font-family: 'Manjari', sans-serif;
  font-size: 1.2rem;
  color: #64778d;
  margin-left: 10px;
}
/* MOBILE */
@media (max-width: 600px){
  
  .title-section,
  .line-title-section{
    margin-left: 5px;
  }
  .card{
    width: 90%;
    height: 300px;
    flex-direction: column;
  }
  .card{
    margin: auto;
    margin-top: 50px;
  }
  .card-left img{
    width: 120%;
  }
  .card-right{
    width: 100%;
  }
  .title-event{
    font-size: 1.5rem;
  }
  .time-event span,
  .church-event span,
  .localization-event span{
    font-size: 1rem;
  }
  .time-event img,
  .church-event img,
  .localization-event img{
    height: 20px;
    width: 20px;
  }
  .circle{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    font-size: 3rem;
  }
}