/* mobile */

@media (max-width: 600px){

  .timeForAcj{
    width: 100%;
    background: rgba( 255, 255, 255, 0.01 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    top: 20%;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    position: absolute;
    grid-auto-flow: dense;
  }
  .numberDaysForAcj,
  .numberMinutesForAcj,
  .numberHoursForAcj,
  .numberSecondsForAcj{
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 211, 24);
    font-family: 'Manjari', sans-serif;
    font-weight: bold;
    font-size: 3rem;
  }
  .daysForAcj,
  .hoursForAcj,
  .minutesForAcj,
  .secondsForAcj{
    text-align: center;
    color: rgb(0, 211, 24);
    font-family: 'Manjari', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
  }
  .daysForAcj{
    grid-column: 1;
  }
  .hoursForAcj{
    grid-column: 2;
  }
  .minutesForAcj{
    grid-column: 3;
  }
  .secondsForAcj{
    grid-column: 4;
  }
}
